/*
    Mixins
*/

@mixin EaseOut
{
    transition: all 0.5s ease-out;
}
@mixin FontWeightGrow($color)
{
    text-shadow:
        -0.5px -0.5px 0 SetTextColor($color),
        0.5px -0.5px 0 SetTextColor($color),
        -0.5px 0.5px 0 SetTextColor($color),
        0.5px 0.5px 0 SetTextColor($color);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

@mixin Theme($light-theme: true)
{
    @if $light-theme
    {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

@mixin Background
{
    @if $show-home-image 
    {
        &#bg-img
        {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;

            &:after 
            {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100vw;
                height: 100vh;
                background: rgba($primary-color, $background-opacity);
                z-index: -1;
            }
        }
        @include MediaSmall
        {
            &#bg-img
            {
                background-repeat: no-repeat;
                background-position: -30vw;
            }
        }
        @include MediaHuge
        {
            &#bg-img
            {
                background-size: 80vw;
                background-repeat: no-repeat;
                background-position: 10vw -10vh ;
                
            }

        }
    }
}

@mixin NavigationAnimation
{
    animation: bugfix infinite 1s;
    -webkit-animation: bugfix infinite 1s;

    @keyframes bugfix 
    {
        from 
        {
            padding: 0;
        }
        to
        {
            padding: 0;
        }
    }
    @-webkit-keyframes bugfix 
    {
        from 
        {
            padding: 0;
        }
        to
        {
            padding: 0;
        }
    }
}

/*
    Media miixins
*/
@mixin MediaSmall 
{
    @media screen and (max-width: 500px)
    {
        @content;
    }
}

@mixin MediaMedium 
{
    @media screen and (min-width: 500px) and (max-width: 768px)
    {
        @content;
    }
}

@mixin MediaLarge 
{
    @media screen and (min-width: 769px)
    and (max-width: 1170px)
    {
        @content;
    }
}

@mixin MediaHuge
{
    @media screen and (min-width: 1171px)
    {
        @content;
    }
}