@page "/dancer"

<PageTitle>Dancer - Valentin Horacek</PageTitle>

<div id="dancer">
    <h1>Swing</h1>
    <ul>
        <li>Lindy Hop</li>
        <li>Charlestone</li>
        <li>Collegiate Shag</li>
        <li>St. Louis Shah</li>
        <li>Balboa</li>
        <li>Slow Balboa</li>
        <li>Boogie Woogie</li>
        <li>Blues</li>
    </ul>

    <h1>Other</h1>
    <ul>
        <li>Arg Tango</li>
        <li>Tango</li>
        <li>Step</li>
    </ul>

</div>