@page "/developer"
@using Portfolio_Server.Models

<PageTitle>Developer - Valentin Horacek</PageTitle>


<div id="developer">
    <h1>Developer</h1>
    <div class="dev-description">
        <p>I specialize in fullstack development, bringing a strong focus to both technical depth and project-wide quality. Through my strengths in processing details, fostering innovation, and systematically solving problems, I deliver solutions that are reliable, scalable, and user-centric.</p>
    </div>



    <div class="skills-grid">
        @foreach (var category in categories)
        {
            <div class="skill-card">
                <div class="skill-card-header">
                    <div class="dev-icons">
                        @foreach (var icon in category.Icons)
                        {
                            <i class="@icon"></i>
                        }
                    </div>
                    <h2>@category.Title</h2>
                </div>
                <div class="skill-card-body">
                    @foreach (var type in category.SkillTypes)
                    {
                        <div class="skill-type">
                            <h4>@type.Title</h4>
                            <ul>
                                @foreach (var skill in type.Skills)
                                {
                                    <li>@skill</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        }
    </div>

</div>

@code{
    List<SkillCategory> categories = new()
    {
        new SkillCategory
        {
            Title = "Frontend",
            SkillTypes = new List<SkillTypes>
            {
                new SkillTypes
                {
                    Title = "Frameworks",
                    Skills = new List<string>
                    {
                        "Blazor",
                        "Razor Pages",
                    }
                },
                new SkillTypes
                {
                    Title = "Markup & Styling",
                    Skills = new List<string>
                    {
                        "HTML",
                        "CSS",
                        "SCSS",
                        "Bootstrap",
                    }
                },
                new SkillTypes
                {
                    Title = "Data Formats",
                    Skills = new List<string>
                    {
                        "JSON",
                        "XML",
                        "YAML",
                    }
                },
            },
            Icons = new List<string> { "fa-brands fa-html5", "fa-solid fa-paintbrush"},
        },
        new SkillCategory
        {
            Title = "Backend",
            SkillTypes = new List<SkillTypes>
            {
                new SkillTypes
                {
                    Title = "Programing Languages",
                    Skills = new List<string>
                    {
                        "C#",
                        "F#",
                    }
                },
                new SkillTypes
                {
                    Title = "Frameworks & Platforms",
                    Skills = new List<string>
                    {
                        ".NET",
                        ".NET Core",
                        ".NET 8",
                    }
                },
                new SkillTypes
                {
                    Title = "ORMs & Data Access",
                    Skills = new List<string>
                    {
                        "Entity Framework",
                        "LINQ",
                    }
                },
                new SkillTypes
                {
                    Title = "Architectural Patterns",
                    Skills = new List<string>
                    {
                        "MVC",
                        "MVVM",
                        "Microservices",
                        "Clean Architecture",
                    }
                },
                new SkillTypes
                {
                    Title = "API",
                    Skills = new List<string>
                    {
                        "REST API",
                        "Swagger / OpenAPI",
                        "gRPC",
                    }
                },
                new SkillTypes
                {
                    Title = "Database Systems",
                    Skills = new List<string>
                    {
                        "SQL",
                        "Oracle, MySQL, MSSQL",
                    }
                },
            },
            Icons = new List<string> { "fa-solid fa-code", "fa-solid fa-database"},
        },
        new SkillCategory
        {
            Title = "Testing & QA",
            SkillTypes = new List<SkillTypes>
            {
                new SkillTypes
                {
                    Title = "Testing Types",
                    Skills = new List<string>
                    {
                        "Unit Testing",
                        "Integration Testing",
                    }
                },
                new SkillTypes
                {
                    Title = "Frameworks & Tools",
                    Skills = new List<string>
                    {
                        "NUnit",
                        "Moq",
                    }
                },
                new SkillTypes
                {
                    Title = "API Testing Tools",
                    Skills = new List<string>
                    {
                        "Postman",
                    }
                },
                new SkillTypes
                {
                    Title = "Methodologies",
                    Skills = new List<string>
                    {
                        "Test-Driven Development (TDD)",
                    }
                },
                new SkillTypes
                {
                    Title = "Code Quality & Analysis",
                    Skills = new List<string>
                    {
                        "Code Reviews",
                        "Static Code Analysis",
                        "SonarQube",
                    }
                },
                new SkillTypes
                {
                    Title = "Logging & Observability",
                    Skills = new List<string>
                    {
                        "Serilog",
                        "ELK Stack",
                    }
                },
            },
            Icons = new List<string> { "fa-solid fa-bug", "fa-solid fa-search"},
        },
        new SkillCategory
        {
            Title = "DevOps",
            SkillTypes = new List<SkillTypes>
            {
                new SkillTypes
                {
                    Title = "Version Control",
                    Skills = new List<string>
                    {
                        "Git",
                    }
                },
                new SkillTypes
                {
                    Title = "Containerization & Orchestration",
                    Skills = new List<string>
                    {
                        "Docker",
                        "Kubernetes (K8s)",
                    }
                },
                new SkillTypes
                {
                    Title = "CI/CD Tools",
                    Skills = new List<string>
                    {
                        "TeamCity",
                        "Jenkins",
                        "GitHub Actions",
                    }
                },
                new SkillTypes
                {
                    Title = "Cloud Platforms",
                    Skills = new List<string>
                    {
                        "Microsoft Azure",
                        "AWS",
                    }
                },
                new SkillTypes
                {
                    Title = "Web Servers",
                    Skills = new List<string>
                    {
                        "Nginx",
                        "ISS",
                    }
                },
                new SkillTypes
                {
                    Title = "Scripting",
                    Skills = new List<string>
                    {
                        "Bash",
                        "PowerShell",
                    }
                },
            },
            Icons = new List<string> { "fa-solid fa-cogs", "fa-solid fa-cloud-upload"},
        },
        new SkillCategory
        {
            Title = "Project Management",
            SkillTypes = new List<SkillTypes>
            {
                new SkillTypes
                {
                    Title = "Methodologies",
                    Skills = new List<string>
                    {
                        "Agile",
                        "Scrum",
                        "Kanban",
                        "Lean Software Development",
                    }
                },
                new SkillTypes
                {
                    Title = "Task & Documentation",
                    Skills = new List<string>
                    {
                        "Jira",
                    }
                },
            },
            Icons = new List<string> { "fa-solid fa-clipboard-list", "fa-solid fa-calendar-alt"},
        },
    };
}