@page "/developer"

<PageTitle>Valentin Horacek - Developer</PageTitle>

<div id="developer">
    <h1>Tech Stack</h1>
    <ul>
        <li>C#</li>
        <li>.NET</li>
        <li>Blazor</li>
        <li>SQL</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>SCSS (CSS preprocessor)</li>
    </ul>

    <h1>Tools/Technologies</h1>
    <ul>
        <li>Azure</li>
        <li>AWS</li>
        <li>Docker</li>
        <li>GIT</li>
        <li>Elastic</li>
        <li>Agile Methodologies</li>
    </ul>

    <h1>Data</h1>
    <ul>
        <li>XML</li>
        <li>JSON</li>
    </ul>

    <h1>Documentation</h1>
    <ul>
        <li>JIRA</li>
        <li>Confluence</li>
        <li>Swagger</li>
    </ul>

    <h1>Architectures</h1>
    <ul>
        <li>REST API</li>
        <li>MVC</li>
        <li>MVVM</li>
        <li>Microservices</li>
    </ul>

    <h1>Testing</h1>
    <ul>
        <li>Moq</li>
        <li>Postman</li>
        <li>Unit Tests</li>
        <li>Integration Tests</li>
        <li>Test Scenarios</li>
    </ul>
</div>