@page "/"

<PageTitle>Valentin Horacek</PageTitle>

<div class="home">
    <!-- Headline: on desktop names are adjacent, on mobile they stack -->
    <div class="headline">
        <span class="first-name">Valentin</span>
        <span class="surname">Horacek</span>
    </div>

    <!-- Job Strips Section -->
    <section class="job-strips">
        <NavLink href="/developer" class="job-strip developer">
            <div class="overlay-text">Developer</div>
        </NavLink>
        <NavLink href="/manager" class="job-strip manager">
            <div class="overlay-text">Manager</div>
        </NavLink>
        <NavLink href="/dancer" class="job-strip dancer">
            <div class="overlay-text">Dancer</div>
        </NavLink>
    </section>
</div>