@page "/"

<PageTitle>Valentin Horacek</PageTitle>

<div id="home">
    <div class="title">
        <h1 class="lg-heading">Valentin <span class="text-secondary">Horacek</span></h1>
        <h2 class="sm-heading"></h2>
        <button class="btn" type="button">
            Developer
        </button>
        <button class="btn" type="button">
            Project Manager
        </button>
        <button class="btn" type="button">
            Dancer
        </button>
    </div>
    
    <button class="btn" type="button">
        Projects
    </button>
    <button class="btn" type="button">
        Resume
    </button>
</div>
