@page "/"

<PageTitle>Valentin Horacek</PageTitle>

<div class="home">
    <!-- Headline: on desktop names are adjacent, on mobile they stack -->
    <div class="headline">
        <span class="first-name">Valentin</span>
        <span class="surname">Horacek</span>
    </div>


    <!-- Job Strips Section -->
    <section class="job-strips">
        <NavLink href="/developer" class="job-strip">
            <div class="overlay-text developer"><div class="job-label">Developer</div></div>
        </NavLink>
        <NavLink href="/manager" class="job-strip">
            <div class="overlay-text manager"><div class="job-label">Project Manager</div></div>
        </NavLink>
        <NavLink href="/dancer" class="job-strip">
            <div class="overlay-text dancer"><div class="job-label">Dancer</div></div>
        </NavLink>
    </section>
</div>