@page "/"

<PageTitle>Home</PageTitle>

<div id="home">
    <div class="title">
        <h1 class="lg-heading">Valentin <span class="text-secondary">Horacek</span></h1>
        <h2 class="sm-heading">C#/.NET Developer - Scrum Master - Project Manager</h2>
    </div>
    <div class="icons">
        <a href="#!">
            <i class="fab fa-linkedin fa-3x"></i>
        </a>
        <a href="#!">
            <i class="fab fa-github-square fa-3x"></i>
        </a>
        <a href="#!">
            <i class="fas fa-envelope-square fa-3x"></i>
        </a>
    </div>
    <button class="btn" type="button">
        Projects
    </button>
    <button class="btn" type="button">
        Resume
    </button>
</div>
