@page "/"

<PageTitle>Valentin Horacek</PageTitle>

<div class="home">
    <!-- Headline: on desktop names are adjacent, on mobile they stack -->
    <div class="headline">
        <span class="first-name">Valentin</span>
        <span class="surname">Horacek</span>
    </div>


    <!-- Job Strips Section -->
    <section class="job-strips">
        <NavLink href="/developer">
            <div class="job-strip">
                <div class="job-bg developer">
                    <div class="job-label">Developer</div>
                </div>
            </div>
        </NavLink>
        <NavLink href="/manager">
            <div class="job-strip">
                <div class="job-bg manager">
                    <div class="job-label">Project Manager</div>
                </div>
            </div>
        </NavLink>
        <NavLink href="/dancer">
            <div class="job-strip">
                <div class="job-bg dancer">
                    <div class="job-label">Dancer</div>
                </div>
            </div>
        </NavLink>
    </section> 
</div>