@page "/manager"

<PageTitle>Valentin Horacek - Project Manager</PageTitle>

<div id="manager">
    <h1>Tools/Technologies</h1>
    <ul>
        <li>Azure</li>
        <li>AWS</li>
        <li>Docker</li>
        <li>GIT</li>
        <li>Elastic</li>
        <li>Agile Methodologies</li>
    </ul>

    <h1>Documentation</h1>
    <ul>
        <li>JIRA</li>
        <li>Confluence</li>
    </ul>

    <h1>Architectures</h1>
    <ul>
        <li>REST API</li>
        <li>MVC</li>
        <li>MVVM</li>
        <li>Microservices</li>
    </ul>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet elementum tellus, sed laoreet enim. Fusce vitae gravida mi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Fusce feugiat libero metus, eu suscipit leo dignissim eu. Fusce quis ante dapibus, sollicitudin orci nec, porttitor velit. Cras ut libero aliquam justo tempor tincidunt.

        Sed lorem ante, pretium mollis congue ac, congue nec est. Nunc maximus velit vitae tellus pharetra, quis imperdiet risus consectetur. Ut eu laoreet neque. In facilisis nisi eros. Sed tempor aliquam facilisis. Sed quis pellentesque enim, a consectetur quam. Curabitur et molestie nisl. Maecenas fringilla velit nisi, id laoreet purus finibus a. Etiam eget orci porttitor felis euismod pretium. Mauris condimentum viverra justo, in gravida velit accumsan non. Fusce nec elementum lacus, eget suscipit nunc. Proin lorem lectus, lacinia eget aliquam nec, ultricies sit amet risus. Sed efficitur purus eget elementum dapibus. Proin vulputate ut turpis vel tincidunt. Donec in quam molestie, egestas velit in, vehicula orci.

        Phasellus vitae pellentesque velit, in lobortis arcu. Integer sit amet sem feugiat, placerat leo ac, egestas tortor. Etiam ac pulvinar lacus. Sed sed dolor nec turpis mattis rutrum et venenatis dui. Aenean ultrices augue id leo mollis volutpat. Cras blandit lacus ut sem faucibus mollis. Nam faucibus aliquam risus quis ornare. Donec gravida vel massa sed posuere. Integer suscipit eu quam ut ullamcorper. Ut imperdiet ornare enim sit amet sollicitudin. In hac habitasse platea dictumst. Curabitur at malesuada nulla. Duis iaculis, purus ut viverra feugiat, tellus erat blandit mauris, id egestas mi turpis vitae sapien. Sed consectetur erat sed risus elementum, at lacinia sem gravida. Sed pretium sem sit amet bibendum molestie.
    </p>
</div>