@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<main>
    @Body
</main>

<footer class="footer">
    <div class="container">
        © 2025 Portfolio - by Valentin Horacek
    </div>
</footer>