@import "../../wwwroot/scss/0-Utils/0-Utils";

#overlay-button {
    position: absolute;
    right: 2em;
    top: 3em;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;

    span {
        height: 4px;
        width: 35px;
        border-radius: 2px;
        background-color: SetTextColor($primary-color);
        position: relative;
        display: block;
        @include EaseOut;

        &::before {
            top: -10px;
            visibility: visible;
        }

        &::after {
            top: 10px;
        }

        &::before, &::after {
            height: 4px;
            width: 35px;
            border-radius: 2px;
            background-color: SetTextColor($primary-color);
            position: absolute;
            content: "";
            @include EaseOut;
        }
    }

    &:hover span, &:hover span::before, &:hover span::after {
        background: #222;
    }
}

input[type=checkbox] {
    display: none;

    &:checked ~ #overlay {
        visibility: visible;
    }

    &:checked ~ #overlay-button {
        &:hover span, span {
            background: transparent;
        }

        span {
            &::before {
                transform: rotate(45deg) translate(7px, 7px);
                opacity: 1;
            }

            &::after {
                transform: rotate(-45deg) translate(7px, -7px);
            }
        }
    }
}

#overlay {
    height: 100vh;
    width: 100vw;
    background: $secondary-color;
    z-index: 2;
    visibility: hidden;
    position: fixed;

    &.active {
        visibility: visible;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 100vh;
        padding-left: 0;
        list-style-type: none;

        li {
            padding: 1em;

            a {
                color: SetTextColor($secondary-color);
                text-decoration: none;
                font-size: 1.5em;

                &:hover {
                    background: $secondary-color;
                    color: $primary-color;
                    font-size: 2em;
                    @include EaseOut;
                }
            }
        }
    }
}
